In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
import pickle
import nbformat

In [2]:
data = pd.read_csv("CarPrice_Assignment.csv")
df = pd.DataFrame(data)

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [8]:
df.describe(include='object')

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
count,205,205,205,205,205,205,205,205,205,205
unique,147,2,2,2,5,3,2,7,7,8
top,toyota corona,gas,std,four,sedan,fwd,front,ohc,four,mpfi
freq,6,185,168,115,96,120,202,148,159,94

In [9]:
df['CarName'].unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [10]:
df.insert(1,'Company',df['CarName'].str.split(' ').str[0])

In [11]:
df.drop(columns=['CarName'],inplace=True)

In [12]:
df.head()

,car_ID,Company,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,alfa-romero,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,alfa-romero,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,alfa-romero,1,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,audi,2,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,audi,2,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [13]:
df['Company'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [14]:
company_name_mapping = {
    'maxda': 'mazda',
    'Nissan': 'nissan',
    'porcshce': 'porsche',
    'toyouta': 'toyota',
    'vokswagen': 'volkswagen',
    'vw': 'volkswagen'
}

df['Company'].replace(company_name_mapping, inplace=True)

In [15]:
df['Company'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [16]:
df.drop(columns=['car_ID'],inplace=True)

In [17]:
df2 = df.drop(columns=['symboling','wheelbase','boreratio','stroke','compressionratio','peakrpm','Company'])

In [18]:
df2 = pd.get_dummies(columns=["fueltype","enginelocation","aspiration","doornumber","carbody","drivewheel","enginetype",
                                "cylindernumber","fuelsystem"],data=df2)

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   carlength              205 non-null    float64
 1   carwidth               205 non-null    float64
 2   carheight              205 non-null    float64
 3   curbweight             205 non-null    int64
 4   enginesize             205 non-null    int64
 5   horsepower             205 non-null    int64
 6   citympg                205 non-null    int64
 7   highwaympg             205 non-null    int64
 8   price                  205 non-null    float64
 9   fueltype_diesel        205 non-null    bool
 10  fueltype_gas           205 non-null    bool
 11  enginelocation_front   205 non-null    bool
 12  enginelocation_rear    205 non-null    bool
 13  aspiration_std         205 non-null    bool
 14  aspiration_turbo       205 non-null    bool
 15  doornumber_four        205 non-null    bool
 16  doornumber_two         205 non-null    bool
 17  carbody_convertible    205 non-null    bool
 18  carbody_hardtop        205 non-null    bool
 19  carbody_hatchback      205 non-null    bool
 20  carbody_sedan          205 non-null    bool
 21  carbody_wagon          205 non-null    bool
 22  drivewheel_4wd         205 non-null    bool
 23  drivewheel_fwd         205 non-null    bool
 24  drivewheel_rwd         205 non-null    bool
 25  enginetype_dohc        205 non-null    bool
 26  enginetype_dohcv       205 non-null    bool
 27  enginetype_l           205 non-null    bool
 28  enginetype_ohc         205 non-null    bool
 29  enginetype_ohcf        205 non-null    bool
 30  enginetype_ohcv        205 non-null    bool
 31  enginetype_rotor       205 non-null    bool
 32  cylindernumber_eight   205 non-null    bool
 33  cylindernumber_five    205 non-null    bool
 34  cylindernumber_four    205 non-null    bool
 35  cylindernumber_six     205 non-null    bool
 36  cylindernumber_three   205 non-null    bool
 37  cylindernumber_twelve  205 non-null    bool
 38  cylindernumber_two     205 non-null    bool
 39  fuelsystem_1bbl        205 non-null    bool
 40  fuelsystem_2bbl        205 non-null    bool
 41  fuelsystem_4bbl        205 non-null    bool
 42  fuelsystem_idi         205 non-null    bool
 43  fuelsystem_mfi         205 non-null    bool
 44  fuelsystem_mpfi        205 non-null    bool
 45  fuelsystem_spdi        205 non-null    bool
 46  fuelsystem_spfi        205 non-null    bool
dtypes: bool(38), float64(4), int64(5)
memory usage: 22.2 KB

In [20]:
scaler = StandardScaler()

In [21]:
numerical_columns = df2.select_dtypes(include=['int64', 'float64']).columns.tolist()
numerical_columns.remove('price')

In [22]:
numerical_columns

['carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'horsepower',
 'citympg',
 'highwaympg']

In [23]:
df2[numerical_columns] = scaler.fit_transform(df2[numerical_columns])

In [24]:
X = df2.drop(columns=['price'])
y = df2['price'].values.reshape(-1,1)

In [25]:
X.shape

(205, 46)

In [26]:
y.shape

(205, 1)

In [27]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
pickle.dump(scaler,open('scaling.pkl','wb'))

In [29]:
X_train

,carlength,carwidth,carheight,curbweight,enginesize,horsepower,citympg,highwaympg,fueltype_diesel,fueltype_gas,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
66,0.077250,0.089812,0.276967,0.278074,0.170739,-0.814171,0.885740,1.200761,True,False,...,False,False,False,False,False,True,False,False,False,False
111,1.027916,1.164596,1.220535,1.000049,-0.166277,-0.231119,-0.953012,-0.982764,False,True,...,False,False,False,False,False,False,False,True,False,False
153,-0.353393,-1.078431,2.205129,-0.530538,-0.840310,-1.067671,0.885740,0.909625,False,True,...,False,False,False,True,False,False,False,False,False,False
96,-0.710909,-0.984972,0.317992,-1.125445,-0.719947,-0.890221,0.885740,0.909625,False,True,...,False,False,False,True,False,False,False,False,False,False
38,-0.532151,-0.330755,-0.174305,-0.513210,-0.407003,-0.459269,0.272823,0.327351,False,True,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.361638,0.930947,-1.651195,1.123266,1.302152,1.416637,-0.953012,-0.837195,False,True,...,False,False,False,False,False,False,False,True,False,False
14,1.214799,0.463650,0.810288,0.961544,0.892917,0.427984,-0.799782,-0.837195,False,True,...,False,False,False,False,False,False,False,True,False,False
92,-0.710909,-0.984972,0.317992,-1.188979,-0.719947,-0.890221,0.885740,0.909625,False,True,...,False,False,False,True,False,False,False,False,False,False
179,0.767905,0.837488,-0.707626,0.886458,1.061426,1.441987,-0.953012,-0.982764,False,True,...,False,False,False,False,False,False,False,True,False,False
102,0.857284,0.276731,0.974387,1.425533,1.302152,1.213836,-1.259470,-1.273900,False,True,...,False,False,False,False,False,False,False,True,False,False

In [30]:
y_train = y_train.ravel()
y_test = y_test.ravel()

regression_models = [
    LinearRegression(),
    DecisionTreeRegressor(),
    RandomForestRegressor(n_estimators=100),
    SVR(),
    KNeighborsRegressor()
]

training_scores = []
testing_scores = []

def model_prediction(model, x_train, y_train, x_test, y_test):
    model.fit(x_train, y_train)
    x_train_pred = model.predict(x_train)
    x_test_pred = model.predict(x_test)
    a = r2_score(y_train, x_train_pred) * 100
    b = r2_score(y_test, x_test_pred) * 100
    training_scores.append(a)
    testing_scores.append(b)
    
    print(f"R2 Score of {type(model).__name__} model on Training Data: {a:.2f}")
    print(f"R2 Score of {type(model).__name__} model on Testing Data: {b:.2f}")

for model in regression_models:
    print(f"Evaluating {type(model).__name__} model : ")
    model_prediction(model, X_train, y_train, X_test, y_test)
    print("\n")

best_model_index = testing_scores.index(max(testing_scores))
best_model = regression_models[best_model_index]
best_test_score = testing_scores[best_model_index]

print(f"The best model is {type(best_model).__name__} with an R2 score of {best_test_score:.2f} on the testing data.")

Evaluating LinearRegression model :
R2 Score of LinearRegression model on Training Data: 93.40
R2 Score of LinearRegression model on Testing Data: 87.48


Evaluating DecisionTreeRegressor model :
R2 Score of DecisionTreeRegressor model on Training Data: 99.87
R2 Score of DecisionTreeRegressor model on Testing Data: 90.22


Evaluating RandomForestRegressor model :
R2 Score of RandomForestRegressor model on Training Data: 98.47
R2 Score of RandomForestRegressor model on Testing Data: 95.51


Evaluating SVR model :
R2 Score of SVR model on Training Data: -10.71
R2 Score of SVR model on Testing Data: -9.89


Evaluating KNeighborsRegressor model :
R2 Score of KNeighborsRegressor model on Training Data: 90.63
R2 Score of KNeighborsRegressor model on Testing Data: 78.27


The best model is RandomForestRegressor with an R2 score of 95.51 on the testing data.

In [31]:
RandomForestRegressor = regression_models[2]

In [32]:
pickle.dump(RandomForestRegressor,open('RFRegressorModel.pkl','wb'))

In [33]:
pickled_model = pickle.load(open('RFRegressorModel.pkl','rb'))

In [34]:
row_to_predict = X_test.iloc[10]

In [35]:
row_to_predict

carlength                0.499769
carwidth                  0.46365
carheight                 0.56414
curbweight               0.202989
enginesize               0.218885
horsepower               0.149133
citympg                 -0.953012
highwaympg              -0.982764
fueltype_diesel             False
fueltype_gas                 True
enginelocation_front         True
enginelocation_rear         False
aspiration_std               True
aspiration_turbo            False
doornumber_four              True
doornumber_two              False
carbody_convertible         False
carbody_hardtop             False
carbody_hatchback           False
carbody_sedan                True
carbody_wagon               False
drivewheel_4wd              False
drivewheel_fwd               True
drivewheel_rwd              False
enginetype_dohc             False
enginetype_dohcv            False
enginetype_l                False
enginetype_ohc               True
enginetype_ohcf             False
enginetype_ohcv             False
enginetype_rotor            False
cylindernumber_eight        False
cylindernumber_five          True
cylindernumber_four         False
cylindernumber_six          False
cylindernumber_three        False
cylindernumber_twelve       False
cylindernumber_two          False
fuelsystem_1bbl             False
fuelsystem_2bbl             False
fuelsystem_4bbl             False
fuelsystem_idi              False
fuelsystem_mfi              False
fuelsystem_mpfi              True
fuelsystem_spdi             False
fuelsystem_spfi             False
Name: 191, dtype: object

In [36]:
headers=[]
for i in df2.columns:
    if i.split('_')[0] not in headers:
        headers.append(i.split('_')[0])
headers

['carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'horsepower',
 'citympg',
 'highwaympg',
 'price',
 'fueltype',
 'enginelocation',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [37]:
custom_input={
'carlength':[150],
 'carwidth':[64],
 'carheight':[52.6],
 'curbweight':[1837],
 'enginesize':[79],
 'horsepower':[60],
 'citympg':[38],
 'highwaympg':[42],
 'fueltype':['gas'],
 'enginelocation':['front'],
 'aspiration':['std'],
 'doornumber':['two'],
 'carbody':['convertible'],
 'drivewheel':['fwd'],
 'enginetype':['ohc'],
 'cylindernumber':['four'],
 'fuelsystem':['1bbl']
}
custom_input=pd.DataFrame(custom_input)
custom_input

,carlength,carwidth,carheight,curbweight,enginesize,horsepower,citympg,highwaympg,fueltype,enginelocation,aspiration,doornumber,carbody,drivewheel,enginetype,cylindernumber,fuelsystem
0,150,64,52.6,1837,79,60,38,42,gas,front,std,two,convertible,fwd,ohc,four,1bbl

In [38]:
custom_input = pd.get_dummies(columns=["fueltype","enginelocation","aspiration","doornumber","carbody","drivewheel","enginetype",
                                "cylindernumber","fuelsystem"],data=custom_input)

In [39]:
for i in df2.columns:
    if i not in custom_input.columns:
        custom_input[i]=False

In [40]:
custom_input[numerical_columns]=scaler.transform(custom_input[numerical_columns])
custom_input

,carlength,carwidth,carheight,curbweight,enginesize,horsepower,citympg,highwaympg,fueltype_gas,enginelocation_front,...,cylindernumber_three,cylindernumber_twelve,cylindernumber_two,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,-1.954087,-0.891512,-0.461478,-1.383431,-1.153254,-1.118372,1.958346,1.637466,True,True,...,False,False,False,False,False,False,False,False,False,False

In [41]:
prediction = pickled_model.predict([row_to_predict])
prediction

c:\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([14053.93642857])

In [42]:
df2.columns

Index(['carlength', 'carwidth', 'carheight', 'curbweight', 'enginesize',
       'horsepower', 'citympg', 'highwaympg', 'price', 'fueltype_diesel',
       'fueltype_gas', 'enginelocation_front', 'enginelocation_rear',
       'aspiration_std', 'aspiration_turbo', 'doornumber_four',
       'doornumber_two', 'carbody_convertible', 'carbody_hardtop',
       'carbody_hatchback', 'carbody_sedan', 'carbody_wagon', 'drivewheel_4wd',
       'drivewheel_fwd', 'drivewheel_rwd', 'enginetype_dohc',
       'enginetype_dohcv', 'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf',
       'enginetype_ohcv', 'enginetype_rotor', 'cylindernumber_eight',
       'cylindernumber_five', 'cylindernumber_four', 'cylindernumber_six',
       'cylindernumber_three', 'cylindernumber_twelve', 'cylindernumber_two',
       'fuelsystem_1bbl', 'fuelsystem_2bbl', 'fuelsystem_4bbl',
       'fuelsystem_idi', 'fuelsystem_mfi', 'fuelsystem_mpfi',
       'fuelsystem_spdi', 'fuelsystem_spfi'],
      dtype='object')